
body{

  background: #100122;
}
.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #bfe79e;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

.section-with-bg {
  background-color: #f6f7fd;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 70vh;
  background: url(/img/consulaa.png) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#intro:before {
  content: "";
  background: rgba(125, 213, 201, 0);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0 0 0 0;
}

#intro h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}

#intro h1 span {
  color: #bfe79e;
}
#intro h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

#intro h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

#intro p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}


#intro .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #bfe79e;
}

#intro .about-btn:hover {
  background: #bfe79e;
  color: #fff;
}

@-webkit-keyframes pulsate-btn {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#consul_head {
  background: url("/img/shareW-bg.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 10px 0 40px 0;
}

#consul_head:before {
  content: "";
  background: rgba(245, 245, 245, 1);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#consul_head .row .col-lg-9{

}
#consul_head h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #171717;
}

#consul_head h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #171717;
}

#consul_head p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #171717;
}
#consul_head .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 0px;
  color: #171717;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #bfe79e;
}

#consul_head .about-btn:hover {
  background: #bfe79e;
  color: #fff;
}


/*--------------------------------------------------------------
# Topic Section
--------------------------------------------------------------*/
#topic {
  background: url("/img/shareW-bg.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 0 0 40px 0;
}

#topic:before {
  content: "";
  background: rgba(245, 245, 245, 1);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#topic .col-lg-3{
  text-align: right;
}
#topic .postingan{
  background: rgba(255, 255, 255, 1);
  padding: 0 15px 0 0;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
}
#topic .popular{
  background: rgba(255, 255, 255, 1);
  padding: 0 0 0 0;
  margin: 0 0 10px 0;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
}
#topic .tulis{
  padding: 10px 10px 10px 10px;
}
#topic h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #171717;
}

#topic h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #171717;
}

#topic p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #171717;
}
#topic .speaker {
  position: relative;
  background: #fff;
  max-width: 100%;
}

#topic .speaker .a_gam {
    position: relative;
}
#topic .speaker img {
    max-width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}


/*--------------------------------------------------------------
#The Motivate Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/
#venue {
  padding: 60px 0 0 0;
}

#venue .container-fluid {
  margin-top: 20px;
}

#venue .venue-map iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

#venue .venue-info {
  background: url("../img/venue-info-bg.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

#venue .venue-info:before {
  content: "";
  background: rgba(13, 20, 41, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#venue .venue-info h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

#venue .venue-info p {
  color: #fff;
  margin-bottom: 0;
}

#venue .venue-gallery-container {
  padding-right: 12px;
}

#venue .venue-gallery {
  overflow: hidden;
  border-right: 0px solid #fff;
  border-bottom: 3px solid #fff;
}

#venue .venue-gallery img {
  transition: all ease-in-out 0.4s;
}

#venue .venue-gallery:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#intro1 {
  height: 400px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
#intro2 {
  height: 225px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


/*--------------------------------------------------------------
# Speakers venue Section
--------------------------------------------------------------*/
#venue {
  padding: 60px 0 0px 0;
}

#venue .speaker {
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
  filter: brightness(50%);
}
#venue .speaker:hover {
  transition: all .7s ease .1s;
  filter: brightness(100%);
}

#venue .speaker .a_gam {
    float: left;
    position: relative;
    cursor: pointer;
}
#venue .speaker img {
    max-width: 100%;
}
#venue .speaker .details {
  background: rgba(16, 1, 34, 0.76);
  position: absolute;
  left: 0;
  bottom: -100px;
  right: 0;
  text-align: center;
  padding-top: 0;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#venue .speaker .details h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

#venue .speaker .details p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  font-style: italic;
}

#venue .speaker .details a {
  color: #fff;
}

#venue .speaker .details a:hover {
  color: #f82249;
}

#venue .speaker:hover .details {
  bottom: 0;
}

#venue-details {
  padding: 60px 0;
}

#venue-details .details h2 {
  color: #112363;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}


/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Sponsors Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# F.A.Q Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Subscribe Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Buy Tickets Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/