/* Sections Header
--------------------------------*/

.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

.section-with-bg {
  background-color: #f6f7fd;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 70vh;
  background: url(/img/3.jpg) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#intro:before {
  content: "";
  background: rgba(125, 213, 201, 0);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#intro h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}

#intro h1 span {
  color: #f82249;
}
#intro h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

#intro h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

#intro p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}


#intro .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #f82249;
}

#intro .about-btn:hover {
  background: #f82249;
  color: #fff;
}

@-webkit-keyframes pulsate-btn {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#share_head {
  background: url("/img/shareW-bg.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 60px 0 40px 0;
}

#share_head:before {
  content: "";
  background: rgba(245, 245, 245, 1);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#share_head .row .col-lg-9{

}
#share_head h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #171717;
}

#share_head h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #171717;
}

#share_head p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #171717;
}
#share_head .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 0px;
  color: #171717;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #f82249;
}

#share_head .about-btn:hover {
  background: #f82249;
  color: #fff;
}


/*--------------------------------------------------------------
# Topic Section
--------------------------------------------------------------*/
#topic {
  background: url("/img/shareW-bg.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 0 0 40px 0;
}

#topic:before {
  content: "";
  background: rgba(245, 245, 245, 1);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#topic .col-lg-3{
  text-align: right;
}
#topic .postingan{
  background: rgba(255, 255, 255, 1);
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
}
#topic .popular{
  background: rgba(255, 255, 255, 1);
  padding: 10px 10px 20px 10px;
  margin: 0 0 10px 0;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
}
#topic h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #171717;
}

#topic h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #171717;
}

#topic p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #171717;
}
#topic .tulis{
  padding: 10px 10px 0 10px;
  margin: 0 0 0 0;

}
.drp_share{
  padding:10px 0 0 0;
  margin: 0 0 0 0;
}
.btn_share{
  background: #fff;
  border: 0px;
}

/*--------------------------------------------------------------
#The Motivate Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Share With Us Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Hotels Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Sponsors Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# F.A.Q Section
--------------------------------------------------------------*/
#faq {
  padding: 60px 0;
}

#share_head #faq-list {
  padding: 0 0 0 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ddd;
}

#faq #faq-list a {
  padding: 18px 0;
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding-right: 20px;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 16px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

#faq #faq-list a.collapse {
  color: #f82249;
}

#share_head #faq-list a.collapsed {
  color: #000;
}

#faq #faq-list a.collapsed i::before {
  content: "\f055" !important;
}



#share_head .form #sendmessage {
  color: #f82249;
  border: 1px solid #f82249;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#share_head .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#share_head .form #sendmessage.show,
#share_head .form #errormessage.show,
#share_head .form .show {
  display: block;
}

#share_head .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#share_head .form input,
#share_head .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#share_head .form button[type="submit"] {
  background: #f82249;
  border: 0;
  padding: 10px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}

#share_head .form button[type="submit"]:hover {
  background: #1ea391;
}


/*--------------------------------------------------------------
# Subscribe Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Buy Tickets Section
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
